<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusiqueDataEntry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ShareExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB7176F31EA7E712008666AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB7177071EA7E713008666AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB7177121EA7E713008666AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBCA398D1F1D302500EAEEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
